numpy
pandas
nltk
matplotlib
#scikit-learn
#scipy==1.11.4
jax[cuda12]
trax
htmltools
tqdm
jupyter
jupyter-cache
statsmodels
#xarray
#seaborn
#plotly
#altair
#bokeh 
#torch
#torchvision 
#torchaudio
#pydeck
#shinywidgets
#tabulate
#itables
#ISLP==0.4.0
#ipyleaflet
#pillow
#pdf2image
#faker
#python-frontmatter
#pyyaml
#joblib
#pomegranate
#te
#pymc3
#pymc>=5
# aesara
#PyLD
#xgboost
#shap
#graphviz
#lime
#PyMuPDF
#pymupdf-fonts
#fonttools
#wheel
#networkx
#agentpy
#shinylive
#shiny
#mesa
#semantic-kernel
#gymnasium
#mesa_models @ git+https://github.com/projectmesa/mesa-examples#egg=mesa-models
# pettingzoo
# duckduckgo_search
# pytorch-lightning
# torchinfo
# torchmetrics
# lxml==5.2.2
# lifelines==0.28.0
# pygam==0.9.1
# l0bnb==1.0.0
# fastbook
# datasets
# fastprogress
# fastcore
# torcheval
# diffusers
# einops
# timm
# huggingface_hub==0.25.0
# transformers
# datasets
# accelerate
# nbdev
# timm
# torcheval
# k_diffusion
emoji==1.4.1